.profile {
  margin: 40px auto 51px;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* display: grid;
grid-template-columns: ;
grid-template-rows: ;
grid-template-areas: 
avatar
avatar
;
}

 grid-area: name;*/
