.profile__hobby {
  margin: 8px 0 0;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 700px) {
  .profile__hobby {
    font-size: 14px;
    line-height: 17px;
  }
}
