.popup__close {
    position: fixed;
    top: calc((100vh - 330px) / 2 - 32px - 8px);
    left: calc((100vw - 430px) / 2 + 430px + 8px);
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.svg);
}