.profile__info {
  margin-left: 30px;
  width: 337px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 700px) {
  .profile__info {
    width: 282px;
    margin: 0;
    justify-content: center;
  }
}
