.elements__element {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 282px;
  /*height: 361px;*/
  border-radius: 10px;
  background: #ffffff;
}
